---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@data/consts";
import {
	frameworks,
	languages,
	randomDevTitle,
	randomSignal,
	tools,
} from "@data/about";
import Link from "@components/Link.astro";
import { platforms } from "@data/about";
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
	<Container
		><div class="flex justify-start items-center gap-5">
			<img
				src="/tino.jpg"
				alt="thermodynamic monk"
				class="h-20 w-20 rounded-full object-cover animate"
			/>
			<div class="flex flex-col">
				<h2 class="animate font-semibold text-black dark:text-white">
					Tinodaishe Tembo
				</h2>
				<h4 class="animate">{randomDevTitle}</h4>
			</div>
		</div>

		<div class="space-y-16 mt-7">
			<section>
				<article class="space-y-4">
					<h4
						class="animate font-semibold text-black dark:text-white"
					>
						More about me
					</h4>
					<p class="animate">
						I'm a programmer and designer who enjoys decoding
						signals from the void through code and pixel
						experiments. I design and build digital experiences with
						an emphasis on aesthetic, performance, and usability.
						With my toolset of design, full-stack engineering, and
						2D/3D illustration, I collaborate with cross-functional
						teams to improve and deliever scalable web experiences.
					</p>
					<p class="animate">
						I'm motivated by creating joyful, intuitive
						interactions, with an obsession for the small details.
						Driven by a passion for good design, I strive to help
						make the internet better. I enjoy learning and am
						thrilled by a challenge.
					</p>
					<p class="animate">
						When I'm no at my computer, I like to study Japanese and
						tinker with my synths. I also enjoy reading science
						fiction, my favorites being the three body problem
						trilogy and Dune.
					</p>
				</article>
			</section>
			<section>
				<article class="animate space-y-4">
					<h4
						class="animate font-semibold text-black dark:text-white"
					>
						Stack
					</h4>
					<p>
						My personal list of tools I use (and a massive fan of):
					</p>
					<ul>
						{
							tools.map((tool) => (
								<li class="no-underline">
									<Link href={tool.link} external underline>
										{tool.name}
									</Link>
									- {tool.description}
								</li>
							))
						}
					</ul>
				</article>
			</section>
			<section>
				<article class="animate space-y-4">
					<h4
						class="animate font-semibold text-black dark:text-white"
					>
						Programming Languages
					</h4>
					<ul class="grid lg:md:grid-cols-3 sm:grid-cols-1">
						{
							languages.map((language) => (
								<li>
									<Link
										href={language.name}
										underline={false}
										external
									>
										{language.name}
									</Link>
								</li>
							))
						}
					</ul>
				</article>

				<article class="animate space-y-4">
					<h4
						class="animate font-semibold text-black dark:text-white"
					>
						Libraries & Frameworks
					</h4>
					<ul class="grid lg:md:grid-cols-3 sm:grid-cols-1">
						{
							frameworks.map((framework) => (
								<li>
									<Link
										href={framework.name}
										underline={false}
										external
									>
										{framework.name}
									</Link>
								</li>
							))
						}
					</ul>
				</article>

				<article class="animate space-y-4">
					<h4
						class="animate font-semibold text-black dark:text-white"
					>
						Tools & Platforms
					</h4>
					<ul class="grid lg:md:grid-cols-3 sm:grid-cols-1">
						{
							platforms.map((platform) => (
								<li>
									<Link
										href={platform.name}
										underline={false}
										external
									>
										{platform.name}
									</Link>
								</li>
							))
						}
					</ul>
				</article>

				<article class="animate space-y-4">
					<h4
						class="animate font-semibold text-black dark:text-white"
					>
						こんにちは
					</h4>
				</article>
			</section>
		</div>
	</Container>
</PageLayout>
