---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@data/consts";
import { tools } from "@data/about";
import Link from "@components/Link.astro";
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
	<Container
		><div class="flex justify-start items-center gap-5">
			<img
				src="/tino.jpg"
				alt="thermodynamic monk"
				class="h-20 w-20 rounded-full object-cover animate"
			/>
			<div class="flex flex-col">
				<h2 class="animate font-semibold text-black dark:text-white">
					Tinodaishe Tembo
				</h2>
				<h4 class="animate">designer • developer</h4>
			</div>
		</div>

		<div class="space-y-16 mt-7">
			<section>
				<article class="space-y-4">
					<h4
						class="animate font-semibold text-black dark:text-white"
					>
						More about me
					</h4>
					<p class="animate">
						From the symphony of code to the artistry of pixels, I'm
						a passionate programmer and designer who thrives on
						translating the intangible into reality. Whether it's
						crafting intricate applications or manipulating pixels
						to create captivating visuals, I find joy in the process
						of creation.
					</p>
					<p class="animate">
						A dedicated TypeScript enthusiast, I wield its power to
						build diverse projects ranging from user-friendly
						websites and apps to immersive experiences, and even on
						the server (haha!). My drive for excellence stems from a
						deep appreciation for aesthetics, accessibility, and
						performance. This translates into meticulously crafted
						experiences that users can not only enjoy but also
						navigate with ease.
					</p>
					<p class="animate">
						Fueled by an insatiable curiosity, I've begun exploring
						the world of Rust. My ambitions in this new language lie
						in building a text editor of my own design and delving
						deeper into the intricacies of dev tools, libraries, and
						frameworks.
					</p>
					<p class="animate">
						My journey is a constant pursuit of learning, growth,
						and mastery. When I step away from the digital realm, I
						find solace in studying Japanese and devouring science
						fiction classics like Neuromancer, Three-Body Problem,
						and Dune. These worlds fuel my imagination and inspire
						the creativity I bring to my work.
					</p>
				</article>
			</section>
			<section>
				<article class="animate space-y-4">
					<h4
						class="animate font-semibold text-black dark:text-white"
					>
						Stack
					</h4>
					<p>
						My personal list of tools I use (and a massive fan of):
					</p>
					<ul>
						{
							tools.map((tool) => (
								<li class="no-underline">
									<Link href={tool.link} external underline>
										{tool.name}
									</Link>
									- {tool.description}
								</li>
							))
						}
					</ul>
				</article>
			</section>

			<article class="animate space-y-4">
				<h4 class="animate font-semibold text-black dark:text-white">
					ありがとう
				</h4>
			</article>
		</div>
	</Container>
</PageLayout>
