---
export const prerender = false;

import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { getTopArtists, getTopTracks } from "@lib/spotify";
import { WORK } from "@consts";

const tracks = await getTopTracks();
const artists = await getTopArtists();
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
	<Container>
		<div class="space-y-10">
			<h1
				class="animate font-semibold text-2xl text-black dark:text-white"
			>
				Top Tracks
			</h1>
			<div class="animate">
				<div class="flex flex-col space-y-4">
					{
						tracks.map(
							({ artists, album, songUrl, title, image }) => (
								<div class="flex flex-row items-center space-x-4">
									<img
										src={image}
										alt={title}
										class="w-20 h-20 rounded-md"
									/>
									<div class="flex flex-col">
										<a href={songUrl}>
											<h3 class="font-semibold text-black dark:text-neutral-100">
												{title}
											</h3>
										</a>
										<p>
											{artists
												.map(({ name }) => name)
												.join(", ")}
										</p>
										<p>{album}</p>
									</div>
								</div>
							)
						)
					}
				</div>
			</div>
		</div>
		<div class="space-y-10">
			<h1
				class="animate font-semibold text-2xl my-8 text-black dark:text-white"
			>
				Top Artists
			</h1>
			<div class="animate">
				<div class="flex flex-col space-y-4">
					{
						artists.map(({ name, url, image, followers }) => (
							<div class="flex flex-row items-center space-x-4">
								<img
									src={image}
									alt={name}
									class="w-20 h-20 rounded-md"
								/>
								<div class="flex flex-col">
									<a href={url}>
										<h3 class="font-semibold text-black dark:text-neutral-100">
											{name}
										</h3>
									</a>
									<p>{followers} followers</p>
								</div>
							</div>
						))
					}
				</div>
			</div>
		</div>
	</Container>
</PageLayout>
