---
import PageLayout from "@layouts/PageLayout.astro";
import { StashDirectories } from "@data/directories";
import Container from "@components/Container.astro";
import HomeButton from "@components/HomeButton.astro";
import Link from "@components/Link.astro";
import tools from "@data/tools";
import ToolsCard from "@components/ToolsCard.astro";

const toolsData = StashDirectories[1];
---

<PageLayout title={toolsData.title} description={toolsData.description}>
	<Container>
		<div class="space-y-10 animate">
			<HomeButton />
			<Link href="/res">Resources</Link>
			<h1 class="font-semibold text-lg text-black dark:text-white">
				Apps & Tools
			</h1>
			<ul class="animate flex flex-col gap-4">
				{
					tools.map((tool) => (
						<li>
							<ToolsCard
								name={tool.name}
								description={tool.description}
								link={tool.link}
								category={tool.category}
							/>
						</li>
					))
				}
			</ul>
		</div>
	</Container>
</PageLayout>
