---
import PageLayout from "../../layouts/PageLayout.astro";
import { StashDirectories } from "../../data/directories";
import Container from "../../components/Container.astro";
import HomeButton from "../../components/HomeButton.astro";
import HackCard from "../../components/HackCard.astro";
import { Hacks } from "../../data/hacks";

const craftsData = StashDirectories[1];
---

<PageLayout title={craftsData.title} description={craftsData.description}>
	<Container>
		<div class="space-y-10">
			<HomeButton />
			<h1
				class="animate font-semibold text-xl text-black dark:text-white"
			>
				Crafts
			</h1>
			<section
				class="divide-y-2 animate divide-neutral-400 flex flex-col divide-dashed border-neutral-400 border-l"
			>
				{
					Hacks.map((hack) => (
						<HackCard
							title={hack.title}
							href={hack.href}
							description={hack.description}
							date={hack.date}
							stack={hack.stack}
							links={hack.links}
							video={hack.video}
							image={hack.image}
						/>
					))
				}
			</section>
		</div>
	</Container>
</PageLayout>
