---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@data/consts";
import DirectoryCard from "@components/DirectoryCard.astro";

const projects = (await getCollection("projects"))
	.filter((project) => !project.data.draft)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
	<Container>
		<div class="space-y-10">
			<section>
				<article class="space-y-4 animate">
					<h5
						class="font-semibold animate text-black dark:text-white"
					>
						Profile
					</h5>
					<p class="animate">
						Hello! there, I'm Tino. I'm a <strong>programmer</strong
						> and <strong>designer</strong> who enjoys experimenting
						with <strong>code</strong> and <strong>pixels</strong> to
						weave <strong>magic</strong>. With a <strong
							>pixel-perfect</strong
						> obsession and deep love for <strong
							>good design</strong
						>, I utilize my proficiency in TypeScript <strong
							>craft</strong
						> whatever I want: web, computer graphics and <strong
							>generative design</strong
						>.
					</p>
					<p class="animate">
						When I step away from my <strong>computer</strong>, I
						find solace in learning <strong>日本語</strong> and immersing
						myself in science fiction, with <strong
							>Neuromancer</strong
						> and Dune holding a special place in my heart.
					</p>
				</article>
			</section>

			<section class="animate space-y-4">
				<h5 class="font-semibold animate text-black dark:text-white">
					Directory
				</h5>
				<ul class="animate flex flex-col gap-4">
					{
						projects.map((project) => (
							<li>
								<DirectoryCard entry={project} />
							</li>
						))
					}
				</ul>
			</section>

			<section class="animate space-y-4">
				<h5 class="font-semibold animate text-black dark:text-white">
					Let's Connect
				</h5>

				<ul class="flex flex-col gap-2">
					{
						SOCIALS.map((SOCIAL) => (
							<li class="flex gap-x-2 text-nowrap">
								<Link
									href={SOCIAL.HREF}
									external
									aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
								>
									{SOCIAL.NAME}
								</Link>
							</li>
						))
					}
					<li class="line-clamp-1">
						<Link
							href={`mailto:${SITE.EMAIL}`}
							aria-label={`Email ${SITE.NAME}`}
						>
							{SITE.EMAIL}
						</Link>
					</li>
				</ul>
			</section>
		</div>
	</Container>
</PageLayout>
