---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@data/consts";

const blog = (await getCollection("blog"))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
	.filter((project) => !project.data.draft)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
	<Container>
		<div class="flex justify-start items-center gap-5">
			<img
				src="/xoboid.jpg"
				alt="thermodynamic monk"
				class="h-20 w-20 rounded-full animate"
			/>
			<div class="flex flex-col">
				<h2 class="animate font-semibold text-black dark:text-white">
					Tinodaishe Tembo
				</h2>
				<h4 class="animate">design engineer</h4>
			</div>
		</div>

		<div class="space-y-16 mt-10">
			<section>
				<article class="space-y-4">
					<h5
						class="font-semibold animate text-black dark:text-white"
					>
						Profile
					</h5>
					<p class="animate">
						Hi! there, I'm Tino aka <strong>xoboid</strong>. I'm a
						programmer and designer who enjoys experimenting with
						code and pixels to weave <strong>magic</strong>. I enjoy <strong
							>web development</strong
						>, <strong>computer graphics</strong>
						and tinkering with <strong>low level</strong> software projects.
					</p>
				</article>
			</section>

			<section class="animate space-y-6">
				<div
					class="flex flex-wrap gap-y-2 items-center justify-between"
				>
					<h5 class="font-semibold text-black dark:text-white">
						Featured Projects
					</h5>
					<Link href="/projects"> See all projects </Link>
				</div>
				<ul class="flex flex-col gap-4">
					{
						projects.map((project) => (
							<li>
								<ArrowCard entry={project} />
							</li>
						))
					}
				</ul>
			</section>

			<section class="animate space-y-6">
				<div
					class="flex flex-wrap gap-y-2 items-center justify-between"
				>
					<h5 class="font-semibold text-black dark:text-white">
						Latest posts
					</h5>
					<Link href="/blog"> See all posts </Link>
				</div>
				<ul class="flex flex-col gap-4">
					{
						blog.map((post) => (
							<li>
								<ArrowCard entry={post} />
							</li>
						))
					}
				</ul>
			</section>

			<section class="animate space-y-4">
				<h5 class="font-semibold animate text-black dark:text-white">
					Let's Connect
				</h5>
				<article>
					<p>
						If you want to get in touch with me about something or
						just to say hi, reach out on social media or send me an
						email.
					</p>
				</article>
				<ul class="flex flex-wrap gap-2">
					{
						SOCIALS.map((SOCIAL) => (
							<li class="flex gap-x-2 text-nowrap">
								<Link
									href={SOCIAL.HREF}
									external
									aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
								>
									{SOCIAL.NAME}
									{/* <Icon name="mdi:home" /> */}
								</Link>
								{"/"}
							</li>
						))
					}
					<li class="line-clamp-1">
						<Link
							href={`mailto:${SITE.EMAIL}`}
							aria-label={`Email ${SITE.NAME}`}
						>
							{SITE.EMAIL}
						</Link>
					</li>
				</ul>
			</section>
		</div>
	</Container>
</PageLayout>
