---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@data/consts";
import DirectoryCard from "@components/DirectoryCard.astro";
import { HomeDirectories } from "@data/directories";
import DefaultHome from "@components/DefaultHome.astro";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
	<Container>
		<div class="space-y-10">
			<DefaultHome />
			<section>
				<article class="space-y-4 animate">
					<h5
						class="font-semibold text-xl animate text-black dark:text-white"
					>
						Profile
					</h5>
					<p class="animate">
						<Link href="/">Intimately curious person</Link> - currenlty
						decoding signals from the void through code and pixel experiments.
						Interests include web development, computer graphics and
						learning 日本語.
					</p>
				</article>
			</section>

			<section class="animate space-y-4">
				<h5 class="font-semibold animate text-black dark:text-white">
					Directory
				</h5>

				<ul class="animate flex flex-col gap-4">
					{
						HomeDirectories.map((dir) => (
							<li>
								<DirectoryCard
									link={dir.link}
									description={dir.description}
									title={dir.title}
								/>
							</li>
						))
					}
				</ul>
			</section>

			<section class="animate space-y-4">
				<h5 class="font-semibold animate text-black dark:text-white">
					Let's Connect
				</h5>

				<ul class="flex flex-wrap gap-2">
					{
						SOCIALS.map((SOCIAL) => (
							<li class="flex gap-x-2 text-nowrap">
								<Link
									href={SOCIAL.HREF}
									external
									aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
								>
									{SOCIAL.NAME}
								</Link>
								{"•"}
							</li>
						))
					}
					<li class="line-clamp-1">
						<Link
							href={`mailto:${SITE.EMAIL}`}
							aria-label={`Email ${SITE.NAME}`}
						>
							{SITE.EMAIL}
						</Link>
					</li>
				</ul>
			</section>
		</div>
	</Container>
</PageLayout>
