---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { HomeDirectories, StashDirectories } from "@data/directories";
import DirectoryCard from "@components/DirectoryCard.astro";
import HomeButton from "@components/HomeButton.astro";

const STASH = HomeDirectories[3];
---

<PageLayout title={STASH.title} description={STASH.description}>
	<Container>
		<div class="space-y-10">
			<HomeButton />
			<h5
				class="animate font-semibold text-xl text-black dark:text-white"
			>
				Resources
			</h5>
			<ul class="animate flex flex-col gap-4">
				{
					StashDirectories.map((dir) => (
						<li>
							<DirectoryCard
								link={dir.link}
								description={dir.description}
								title={dir.title}
							/>
						</li>
					))
				}
			</ul>
		</div>
	</Container>
</PageLayout>
