---
import type { Hack } from "@data/hacks";
import Link from "./Link.astro";

type Props = Hack;

const { title, href, description, date, stack, links, image, video } =
	Astro.props;
---

<div class="flex-col no-underline animate hover:brightness-75 flex pl-8 py-8">
	<div class="flex items-center justify-between">
		<h5 class="font-semibold text-base text-black dark:text-white">
			{title}
		</h5>
		<h5 class="text-xs font-bold text-muted-foregroud">
			{date}
		</h5>
	</div>
	<a href={href} target="_blank">
		{
			video && (
				<video
					src={video}
					autoplay
					loop
					muted
					class="pointer-events-none mx-auto mb-4 mt-2 w-full h-full rounded-lg object-cover object-top"
				/>
			)
		}
		{
			image && (
				<img
					src={image}
					alt={title}
					class="w-full object-cover mb-4 mt-2 rounded-lg h-full"
				/>
			)
		}
	</a>
	<p class="text-sm mb-4">
		{description}
	</p>
	<div class="w-[60%] flex gap-1 items-center mb-4 sm:w-full">
		{
			stack.map((tech) => (
				<span class="border border-zinc dark:border-white rounded-xl uppercase text-xs px-2 py-1 font-bold">
					{tech}
				</span>
			))
		}
	</div>

	{
		links && links.length > 0 && (
			<div class="gap-4 flex items-center">
				{links?.map((link) => (
					<Link class:list={"text-xs"} href={link.href}>
						{link.name}
					</Link>
				))}
			</div>
		)
	}
</div>
