---
import type { CollectionEntry } from "astro:content";

type Props = {
	entry: CollectionEntry<"experiments">;
};

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.slug}`}>
	<img
		src={`/src/content/${entry.collection}/${entry.slug}/${entry.data.link}`}
		alt=""
		class="rounded-xl object-cover md:w-[300px] hover:opacity-75 md:h-[300px] sm:w-full sm:h-full"
	/>
</a>
