---
import type { CollectionEntry } from "astro:content";

type Props = {
	entry: CollectionEntry<"experiments">;
};

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.slug}`}>
	<img
		src={`/src/content/${entry.collection}/${entry.slug}/${entry.data.link}`}
		alt={entry.data.title}
		class="rounded-xl object-cover hover:opacity-75"
	/>
</a>
