---
import type { experiment } from "@data/fun";
import Link from "./Link.astro";

type Props = {
	experiment: experiment;
};

const { experiment } = Astro.props;
---

<div
	class="flex animate group flex-nowrap p-3 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
>
	<Link href={experiment.sourceLink} external underline={false}
		><div class="flex group relative flex-col gap-3 flex-1">
			<div class="flex items-center justify-between">
				<div class="font-semibold">
					{experiment.title}
				</div>
				<h4 class="font-mono text-xs font-bold uppercase">
					{experiment.stack}
				</h4>
			</div>

			<img
				class="rounded-lg"
				src={experiment.previewFile}
				alt={experiment.title}
			/>
		</div>
	</Link>
</div>
