---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
	<Container>
		<div class="flex flex-wrap gap-y-2 justify-between">
			<Link href="/" underline={false}>
				<div class="font-semibold">
					{SITE.NAME}
				</div>
			</Link>
			<nav class="flex gap-2">
				<Link href="/blog" underline={false}> notes </Link>

				<Link href="/projects" underline={false}> crafts </Link>

				<Link href="/" underline={false}> music </Link>
			</nav>
		</div>
	</Container>
</header>
