---
import PageLayout from "@layouts/PageLayout.astro";
import { StashDirectories } from "@data/directories";
import Container from "@components/Container.astro";
import HomeButton from "@components/HomeButton.astro";
import Link from "@components/Link.astro";

const bookshelfData = StashDirectories[1];
import { books } from "@data/books";
---

<PageLayout title={bookshelfData.title} description={bookshelfData.description}>
	<Container>
		<div class="space-y-10 animate">
			<HomeButton />
			<Link href="/res">Resources</Link>
			<h1
				class="animate font-semibold text-lg text-black dark:text-white"
			>
				Bookshelf
			</h1>
			<div class="animate">
				<div
					class="grid lg:md:grid-cols-3 grid-cols-2 gap-2 lg:md:gap-5"
				>
					{
						books.map((book) => (
							<div class="flex flex-col space-y-1">
								<img
									src={book.cover}
									alt={book.title}
									width="185px"
									height="310px"
									class="rounded-lg w-[190px] h-[280px] object-fill"
								/>
								<h1 class="text-sm font-semibold">
									{book.title}
								</h1>
								<h4 class="text-neutral-500 text-xs">
									{book.author}
								</h4>
								{book.reading && (
									<div class="text-zinc-400 text-xs">
										{book.reading}
									</div>
								)}
							</div>
						))
					}
				</div>
			</div>
		</div>
	</Container>
</PageLayout>
