---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@data/consts";
import HomeButton from "@components/HomeButton.astro";
import ExternalCard from "@components/ExternalCard.astro";
import { Works } from "@data/crafts";
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
	<Container>
		<div class="space-y-10">
			<HomeButton />
			<div
				class="animate font-semibold text-xl text-black dark:text-white"
			>
				Works
			</div>
			<ul class="animate flex flex-col gap-4">
				{
					Works.map((work) => (
						<li>
							<ExternalCard
								title={work.title}
								description={work.description}
								src={work.src}
							/>
						</li>
					))
				}
			</ul>
		</div>
	</Container>
</PageLayout>
