---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import HomeButton from "@components/HomeButton.astro";
import CraftCard from "@components/CraftCard.astro";
import { Crafts } from "@data/crafts";

import { HomeDirectories } from "@data/directories";

const craftsData = HomeDirectories[2];
---

<PageLayout title={craftsData.title} description={craftsData.description}>
	<Container>
		<div class="space-y-10">
			<HomeButton />
			<h1
				class="animate font-semibold text-xl text-black dark:text-white"
			>
				Crafts
			</h1>
			<section
				class="divide-y-2 animate divide-neutral-400 flex flex-col divide-dashed border-neutral-400 border-l"
			>
				{
					Crafts.map((craft) => (
						<CraftCard
							title={craft.title}
							href={craft.href}
							description={craft.description}
							date={craft.date}
							stack={craft.stack}
							links={craft.links}
							video={craft.video}
							image={craft.image}
						/>
					))
				}
			</section>
		</div>
	</Container>
</PageLayout>
