---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@data/consts";
import HomeButton from "@components/HomeButton.astro";
import { experiments } from "@data/crafts";
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
	<Container>
		<div class="space-y-10">
			<HomeButton />
			<h1
				class="animate font-semibold text-2xl text-black dark:text-white"
			>
				Code + Pixel Experiments
			</h1>
			<section class="animate space-y-20 mt-10 mb-20">
				{
					experiments.map((experiment) => (
						<article>
							<a
								href={experiment.link}
								class="flex flex-col animate no-underline hover:brightness-90"
							>
								<div class="flex items-center justify-between">
									<h5 class="font-bold text-xs text-black dark:text-white">
										{experiment.date}
									</h5>
									<span class="border-2 border-zinc-800 dark:border-white rounded-full uppercase text-xs px-2 py-1 font-bold">
										{experiment.tech}
									</span>
								</div>
								<img
									src={experiment.banner}
									class="w-full h-full mt-2 mb-4 rounded-lg object-cover"
									alt={experiment.title}
								/>
								<h5 class="font-semibold text-lg text-black dark:text-white">
									{experiment.title}
								</h5>
							</a>
						</article>
					))
				}
			</section>
		</div>
	</Container>
</PageLayout>
